.meals {
    width: 100%;
    margin-left: 25px;
    animation: meals-appear 1s ease-out forwards;
  }

  .flex{
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }