.login-card {
  display: flex;
  justify-content: space-between;
}

.login-card__image {
  height: 400px;
  width: 300px;
}

.login-card__image img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 14px 0 0 14px;
}

.login-card__body{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 250px;
}

.login-card__body-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-card__body-heading_title{
  font-size: large;
  font-weight: 500;
}

.login-card__body-heading_icon{
  cursor: pointer;
  height: 32px;
}

.login-card__body-footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.login-card__body-footer_title{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.login-card__body-footer_text {
  margin-right: 5px;
  font-size: 16px;
  font-weight: 300;
}

.login-card__body-footer_link {
  text-decoration: none;
  cursor: pointer;
}

/* END */

.form-content h2 {
  margin-top: 5px;
}

.checked {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 122px;
}

.checked label{
  order: 1;
}

.checked input{
  margin-left: 0;
}
  
.actions {
  text-align: right;
  margin-top: 15px;
}
  
.button {
  font: inherit;
  cursor: pointer;
  background-color: #5a1a01;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  margin-left: 1rem;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
  
.button:hover,
.button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  
}


.invalid{
  border: 2px solid rgb(185, 34, 34);
  margin-bottom: 0;
}

.error-text{
  color: #b40e0e;
  margin-top: 0;
}