.flex{
  display: flex;
  justify-content: space-between;
}

.flex img{
  object-fit: cover;
  height: 400px;
  width: 300px;
  border-radius: 14px;
}

.form-content{
  margin-right: 10px;
  width: 250px;
}

.v-center {
  align-items: center;
}

.icon{
  cursor: pointer;
  height: 32px;
}

.form-content h2 {
  margin-top: 5px;
}

.checked {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checked label{
  order: 1;
}

.checked input{
  margin-left: 0;
}
  
.actions {
  text-align: right;
  margin-top: 15px;
}
  
.button {
  font: inherit;
  cursor: pointer;
  background-color: #5a1a01;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  margin-left: 1rem;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
  
.button:hover,
.button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  
}


.invalid{
  border: 2px solid rgb(185, 34, 34);
  margin-bottom: 0;
}

.error-text{
  color: #b40e0e;
  margin-top: 0;
}