.flex{
  display: flex;
  justify-content: space-between;
}

.flex img{
  object-fit: cover;
  height: 400px;
  width: 300px;
  border-radius: 14px;
}

.form-content{
  margin-right: 10px;
  width: 250px;
}

.v-center {
  align-items: center;
}

.icon{
  cursor: pointer;
  height: 32px;
}

.form-content h2 {
  /* margin: 10px; */
  margin-top: 5px;
}

.checked {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checked label{
  order: 1;
}

.checked input{
  margin-left: 0;
}

.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
    margin-top: 15px;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  }
  
  .actions .button--alt {
    color: #8a2b06;
  }
  
  .actions .button {
    background-color: #8a2b06;
    color: white;
  }